name: update-lambda-functions

on:
  push:
    branches:
      - main
    paths:
      - lambdas/*
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_S3_BUCKET: ${{ secrets.FUNCTION_BUCKET }}

jobs:
  update-s3:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - name: update s3 and lambda
        working-directory: lambdas
        run: |
          zip -r functions.zip *.py
          aws s3api put-object --region eu-north-1 --bucket $AWS_S3_BUCKET --key functions.zip --body functions.zip
  update-cfn: 
    runs-on: "ubuntu-latest"
    needs: update-s3
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: Koji-Sunioj/trading-grid-cfn
          event-type: updated-function-zip
